
<%- include('partials/_htmlHead') %>
<body>
  <%- include('partials/_header') %>

  <main>
    <div id="mapid"></div>
<p>probandoooooooooooooogit check</p>
  </main>

  <%- include('partials/_scripts') %>

</body>

</html>