// See: https://sass-lang.com/

body {
  background-color: #EEE;
  // background-image: url(Map.png);

  h1 {
    color: #244751;
  }
}

#mapid{
  height: 100vh;
}

// #backgroundimage {
//   background-image: url("/img/GoogleMap.jpeg");
//   width: 100vw;
//   height: 100vh;
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
//   position: relative;
// }
